<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, user-scalable=yes">

    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= siteTitle %></title>
    <!-- Theme styles -->
    <%- include('partials/styles') %>
</head>
    <body>
<div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center align-items-center" style="height: 100vh;">
                            <div class="col-lg-6">
                                <div class="text-center">
                                    <!-- <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg"> -->
                                     <h1 class="display-1"><%= pageTitle %></h1>
                                    <p class="lead"><%= siteTitle %></p>
                                    <a href="/">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Theme scripts -->
        <%- include('partials/scripts') %>
    </body>
</html>
